{% load timeutil %}
{% load scientific %}
<script type="text/javascript" class="init">
    $(document).ready(function () {
        $('#event-timeline').DataTable({
            paging:false,
            searching:false,
            info:false,
            order: [[7, 'asc']],
        });
});
</script>

          <p><b> New: </b> This table is intended to help assist LVK Users follow the logic of
          <a href="https://emfollow.docs.ligo.org/userguide/analysis/superevents.html#selection-of-the-preferred-event"> superevent creation </a>. Below are all the G-events in this superevent, sorted by time of submission to GraceDB. Please hover over the label name to determine when the label was applied.</p>
    <table id="event-timeline" class="table-hover table-condensed
        table-resp-gracedb shadow p-3 mb-5 rounded ">
      <!-- Table Header -->
      <thead>
      <tr>
        <th colspan="10"><h3>GW Event Upload Information</h3>
        </th>
      </tr>

      <tr>
        <th> UID </th>
        <th> Group </th>
        <th> Pipeline </th>
        <th> Search </th>
        <th> FAR (Hz) </th>
        <th> SNR </th>
        <th> Labels </th>
        <th> Upload Time (UTC) </th>
        <th> Added to Superevent (UTC) </th>
        <th> Set as Preferred (UTC) </th>
      </tr>
      </thead>
      <tbody style="">
      {% for e in internal_events %}
        <tr>
         <td><a href="{% url "view" e.graceid %}">{{ e.graceid }}</a></td>
         <td> {{ e.group.name }} </td>
         <td> {{ e.pipeline.name }} </td>
         <td> {{ e.search.name }} </td>
         <td>
             {% if e.far|scientific %}
             {{ e.far|scientific }} 
             {% else %}
             &nbsp; &nbsp; &nbsp; &nbsp;
             {% endif %}
         </td>
         <td data-title="SNR">
             {% if e.coincinspiralevent %}
             {{ e.coincinspiralevent.snr|floatformat:"3" }}
             {% elif e.multiburstevent %}
             {{ e.multiburstevent.snr|floatformat:"3" }}
             {% elif e.mlyburstevent %}
             {{ e.mlyburstevent.snr|floatformat:"3" }}
             {% elif e.lalinferenceburstevent %}
             {{ e.lalinferenceburstevent.omicron_snr_network|floatformat:"3" }}
             {% else %}
             &nbsp; &nbsp; &nbsp; &nbsp;
             {% endif %}
         </td>
         <td> 
             {% if e.labelling_set.all %}
             {% for labelling in e.labelling_set.all %}
             <span style="color: {{labelling.label.defaultColor}};" class="label"
                                                                    data-toggle="tooltip"
                                                                    data-placement="top"
                                                                    data-html="true"
                                                                    title="<em>{{labelling.label.description}}</em><br>
                                                                    <b>Added by:</b> {{labelling.creator.get_full_name}}<br>
                                                                    <b>Added:</b> {{labelling.created}}">
                                                                    {{ labelling.label.name }}</span>
             {% endfor %}
             {% else %}
             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
             {% endif %}
         </td>
         <td> {{ e.created_pretty }}  </td>
         <td> {{ e.added_to_superevent }} </td>
         <td> {{ e.set_as_preferred }} </td>


        </tr>
      {% endfor %}
      </tbody>
    </table>

